{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "importOrder": ["^@steffbeckers/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
